html,
body {
  height: 100%;
  margin: 0;
  color: #222;
  font-family: "Nunito", sans-serif;
}

.navRow {
  padding: 0px 40px;
  display: grid;
  grid-template: 100% / repeat(8, 1fr);
  background-color: teal;
  color: #f4f4f4;
}

.navLinkSearch {
  grid-column: 4 / 6;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
}

.navLinkSaved {
  grid-column: 6;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
}

.logout {
  grid-column: 8;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
}

.homeContainer {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
}

.homeContainer a:first-child {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
}

.homeContainer a:nth-child(3) {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
}

.signupButton {
  background-color: teal;
  border-radius: 15px;
  border: 4px double #f4f4f4;
  color: #f4f4f4;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.loginButton {
  background-color: teal;
  border-radius: 15px;
  border: 4px double #f4f4f4;
  color: #f4f4f4;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.loginPromptText {
  grid-row: 2;
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
}

.homeContainer h1 {
  grid-row: 1;
  grid-column: 3 / 5;
  justify-self: center;
}

.homeText {
  grid-row: 2;
  grid-column: 3 / 5;
  padding: 0 3rem;
  justify-self: center;
  text-align: center;
}

.signupContainer {
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(7, 1fr);
}

.signupContainer a {
  grid-row: 8;
  grid-column: 4;
  align-self: end;
  justify-self: center;
}

.signupForm {
  grid-row: 2 / 8;
  grid-column: 4;
  display: grid;
  align-items: center;
  justify-items: center;
}

.signupForm input {
  margin: 10px auto;
}

.signupForm button {
  background-color: teal;
  border-radius: 15px;
  border: 4px double #f4f4f4;
  color: #f4f4f4;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.loginContainer {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(7, 1fr);
}

.loginContainer a {
  grid-row: 9;
  grid-column: 4;
  align-self: end;
  justify-self: center;
}

.loginForm {
  grid-row: 2 / 8;
  grid-column: 4;
  display: grid;
  align-items: center;
  justify-items: center;
}

.loginForm input {
  margin: 10px auto;
}

.loginForm button {
  background-color: teal;
  border-radius: 15px;
  border: 4px double #f4f4f4;
  color: #f4f4f4;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.formRow {
  display: flex;
}

.formCol {
  width: 50%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.col {
  width: 50%;
  padding-right: 25px;
}

.formCol button {
  margin: 20px 0px 0px 33px;
  background-color: teal;
  border-radius: 15px;
  border: 4px double #f4f4f4;
  color: #f4f4f4;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.searchButton {
  background-color: teal;
  border-radius: 15px;
  border: 4px double #f4f4f4;
  color: #f4f4f4;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
