html, body {
    height: 100%;
    margin: 0;
    color: #222;
}

.navRow {
    padding: 0px 40px;
    display: grid;
    grid-template: 100% / repeat(8, 1fr);
    background-color: teal;
    color: #f4f4f4;
}

.navLinkSearch {
    grid-column: 4;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1.2rem;
}

.navLinkSaved {
    grid-column: 5;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1.2rem;
}

.logout {
    grid-column: 10;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1.2rem;
}

.homeContainer {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.signupButton {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.loginButton {
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.formRow {
    display: flex;

}

.formCol {
    width: 50%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.col {
    width: 50%;
    padding-right: 25px;
}

.formCol button {
    margin: 20px 0px 0px 45px;
}

.push {
    height: 50px;
}