.bookContainer {
    padding: 25px 100px 25px 100px;
    margin-left: 100px;
    margin-right: 50px;
    border-bottom: solid black 3px;
}

.bookContainer div:last-child {
    display: grid;
}

.bookContainer div:last-child button {
    width: 15%;
    justify-self: end;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bold {
    font-size: 25px;
    font-weight: bold;
}

img {
    margin-right: 50px;
}

.column {
    margin-top: 50px;
}